/* VARIABLES ---------*/
/* MEDIA QUERIES ---------*/
/* BASE ---------------------------*/
* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica", "Arial", sans-serif;
  text-transform: uppercase;
  color: #E43E22;
  background-color: #E5EBE4;
  margin: 0 20px;
}

h1 {
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 3rem;
}
@media (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }
}
@media (min-width: 1024px) {
  h1 {
    font-size: 4rem;
    margin-bottom: 0;
  }
}

h2 {
  font-size: 2rem;
  font-weight: 900;
  line-height: 2rem;
}
@media (min-width: 733px) {
  h2 {
    font-size: 5rem;
    line-height: 4rem;
  }
}
@media (min-width: 1024px) {
  h2 {
    font-size: 8rem;
    line-height: 6rem;
    margin-top: 0;
    margin-bottom: 2rem;
  }
}

h3 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1rem;
}

h4 {
  margin-bottom: 0;
}

h4 a {
  color: #E43E22;
}

h4 a:visited {
  color: #5b5bf0;
}

p {
  font-size: 1rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

a:hover {
  color: #5b5bf0;
  animation: color 0.2s ease;
}

footer a img:hover {
  box-shadow: 0 0 50px #E43E22;
  animation: box-shadow 0.2s ease;
}

.header {
  display: flex;
  /* flex-direction: row; */
  flex-flow: row wrap;
  align-items: center;
}
@media (min-width: 1024px) {
  .header {
    align-items: flex-start;
  }
}

#name {
  margin-right: auto;
}
@media (min-width: 768px) {
  #name {
    margin-right: 0.5em;
  }
}

#info {
  width: 30%;
  font-size: 0.7rem;
  text-align: right;
}
@media (min-width: 768px) {
  #info {
    font-size: 1.5rem;
    line-height: 1.3rem;
  }
}
@media (min-width: 1024px) {
  #info {
    flex-grow: 1;
    font-size: 1.3rem;
    line-height: 1.2rem;
    text-align: left;
    margin-right: auto;
    margin-top: 2em;
  }
}

#title {
  text-align: right;
  margin-left: auto;
  padding-top: 0;
  margin-top: 0;
}
/* FOOTER */
.footer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  background: #E5EBE4;
  width: auto;
}

.social-links {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-left: auto;
}

.social {
  width: 30px;
  height: 30px;
  max-width: 100%; /* Add this line */
  max-height: 100%; /* Add this line */
}

#time {
  text-align: left;
  margin-right: auto;
}

/* Toggle reference: https://www.w3schools.com/howto/howto_css_switch.asp */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #E43E22;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #FFFFFF;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #CFE0CD;
}

input:focus + .slider {
  box-shadow: 0 0 1px #CFE0CD;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.project-container {
  border: 1px solid #E43E22;
  border-radius: 20px;
  margin: 0 10px 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  max-height: 680px;
  overflow-x: hidden;
  overflow-y: scroll;
  background: #FFFFFF;
}
@media (min-width: 1024px) {
  .project-container {
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
  }
}

.project-card {
  border: 1px solid #E43E22;
  border-radius: 20px;
  margin: 0 2em;
  min-width: 15em;
  width: 16em;
  display: flex;
  flex-direction: column;
  position: relative;
}
@media (min-width: 768px) {
  .project-card {
    width: 40em;
  }
}
@media (min-width: 1024px) {
  .project-card {
    margin: 10px;
    min-width: 30em;
    min-height: 36em;
  }
}

.project-card:hover {
  box-shadow: 0 0 50px #E43E22;
  animation: box-shadow 0.2s ease;
}

.img-container {
  height: 15em;
  background-color: #FFFFFF;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.project-image {
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: contain;
}
@media (min-width: 1024px) {
  .project-image {
    object-fit: cover;
  }
}

.description-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 1em;
  background-color: #E5EBE4;
  border-top: 1px solid #E43E22;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.description-container:hover {
  background-color: #CFE0CD;
  transition: background-color 0.5s ease;
}

/*# sourceMappingURL=styles.css.map */
